.tab{
    background: var(--color-black);
    opacity: .4;
    cursor: pointer;
    padding: 3vh 2.3vh;
    border-radius: 2vh 2vh 0 0;
    position: relative;
    bottom: -1vh;
    margin-right: .5vw;
}
.tab:hover{
    opacity: .7;
}
.tab.active{
    opacity: 1;
    pointer-events: none;
}
