.fx_title{ width:20%; flex-direction: column; }
.fx_titleAux{ flex: 1 1 100%; }
.fx_titleContent{   }

.fx_past{width:7%;}
.fx_divider{width:3%;}
.fx_big{width:15%;}
.fx_pie{width:12%;}
.fx_future{width:8%;}

.serieContainer{
    height:17vh;
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 0 3vw 0 0;
}
.boldBorder{
    border-top: 5px solid white;
}
.serieContainer:first-child{
    border: none;
    height: 30vh;
    padding-top: 12vh;
}

.cellTitle{
    position: absolute;
    min-height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 10vh;
    color: white;
}
.title-projection{}
.title-objective{
    transform: rotate(-10deg);
    transform-origin: 7vh;
}
