
.value{}

.dataCell {
    height: 7vh;
    position: relative;
    z-index: 1;
}
.dataValue {
    height: 5.5vh;
    align-items: inherit;
    display: flex;
}
.dataSuffix{
    display: block;
    height: 5vh;
}


.dataCurrency{
    position: absolute;
    bottom: 0;
    left: -8px;
    opacity: .04;
}


.dataValue.number__big {
    position: relative;
    top: -2vh;
}

.numberPercentData {
    top: 1.5vh;
}






.suffixMini{

}


.numberPercent{
    top: -2vh;
    position: relative;
}
