
.currentMonthContainer {
    position: absolute;
    width: 45vw;
    right: 17vw;
    top: 1%;
    height: 99%;

    z-index: 0;
}
.currentMonthContainerOnBig{
    width: 59vw;
    right: 3vw;
}

.seriesContainer {
    position: relative;
    z-index: 1;
    margin-top: 3vh;
}

.sizer{
    z-index:10;
    position: absolute;
    top: -1vh;
    right: 1vw;
    font-family: monospace;
    cursor: pointer;
    font-size: 2vw;
    font-weight: 600;
    user-select:none;
}
