:root{
    --color-black:#101010;
    --color-grey:#525252;
    --color-white:#fff;
    --color-auto: #007cff;
    --color-trade: #FFA800;
    --color-total: #67ff00;
    --color-aum: #fff;

    --color-keyboard:#A513FE;
}


.color-auto{ color: var(--color-auto); }
.color-trade{ color: var(--color-trade); }
.color-total{ color: var(--color-total); }
.color-aum{ color: var(--color-aum); }

.color-black{ color: var(--color-black); }
.color-grey{ color: var(--color-grey); }
.color-white{ color: var(--color-white); }


html,
body {
    font-family: -apple-system, "Open Sans", "Arial", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 3.3vh;
    font-size: 18px;
    text-align: center;
    font-weight: 900;
    padding: 0;
    margin: 0;
    color: var(--color-white);
    background: #444;
    background: var(--color-black);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}


