
.position__relative{
    position: relative;
}

.number__big{
    font-size: 5.75vw;
}
.number__mid{
    font-size: 2vw;
}
.number__small{
    font-size: 1.2vw;
}

.title{
    outline: none !important;
    font-size: 2vw;
}

.font__light{
    font-weight: 300;
}
.text__uppercase{
    text-transform: uppercase;
}
.text__capitalize{
    text-transform: capitalize;
}

.textAlign__left{  text-align: left; }
.textAlign__center{  text-align: center; }
.textAlign__right{  text-align: right; }

.roundedCorners{ border-radius: 4px; }

.opacity__0{ opacity: 0; }
.opacity__1{ opacity: 0.1; }
.opacity__2{ opacity: 0.2; }
.opacity__3{ opacity: 0.3; }
.opacity__4{ opacity: 0.4; }
.opacity__5{ opacity: 0.5; }
.opacity__6{ opacity: 0.6; }
.opacity__7{ opacity: 0.7; }
.opacity__8{ opacity: 0.8; }
.opacity__9{ opacity: 0.9; }
.opacity__10{ opacity: 1; }

.text__shadowed{
    text-shadow: 0 2px 2px black, 0 -2px 2px black, 2px 0 2px black, -2px 0 2px black, 0 9px 2px black, 0 -4px 2px black, 4px 0 2px black, -4px 0 2px black;
}




.flex {display:flex;}
.flexGrow{width: 100%;}
.flexColumn{flex-direction: column;}
.flexAlignEnd{    align-items: flex-end;}
.flexAlignCenter{    align-items: center;}

